@charset "utf-8";

* {
								margin: 0px;
								padding: 0px;
								font-family: arial, helvetica, sans-serif;
								box-sizing: border-box;
}

html, body {
								width: 100vw;
								height: 100vh;
}

h1 {
								text-align: center;
}

p {
								text-align: center;
								margin: 20px 0px;
}

#botao1 {
								display: block;
								background-color: lightgreen;
								border: 1px solid black;
								border-radius: 4px;
								padding: 10px 15px;
								margin: auto;
}
